{% import "components/select.twig" as select %}
{% extends "template/layout.twig" %}
{% block content %}
    <div class="form-container" style="width: 50%;">
        <h2>Ajouter un Utilisateur</h2>
        <span class="error">{{ errors|raw }}</span>
        <form
            action="{{ path }}user/store" method="post">
            <!-- <input type="hidden" name="id" value="<?php echo $id; ?>"> -->
            <div class="form-group">
                <label for="username">Nom utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" value = "{{ user.username }}"  placeholder="Nom utilisateur...">
            </div>
            <div class="form-group">
                <label for="first_name">Nom</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value = "{{ user.first_name }}" placeholder="Nom...">
            </div>
            <div class="form-group">
                <label for="last_name">Prénom</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value = "{{ user.last_name }}" placeholder="Prénom...">
            </div>
            <div class="form-group">
                <label for="last_name">Courriel</label>
                <input type="email" class="form-control" id="email" name="email" value = "{{ user.email }}" required placeholder="Courriel...">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" value = "{{ user.password }}" placeholder="Mot de passe...">
            </div>
            <div class="form-group">
                <label for="birthday">Date de naissance</label>
                <input type="date" class="form-control" id="birthday" name="birthday" value = "{{ user.birthday }}" placeholder="Date de naissance...">
            </div>
            <div class="form-group">
                <label for="address">Adresse</label>
                <input type="text" class="form-control" id="address" name="address" value = "{{ user.address }}" placeholder="Courriel...">
            </div>
            <div class="form-group">
                {{select.select(countries, title, 'country', user.country)}}
            </div>
            <div class="form-group">
                {{select.select(null, 'Ville', 'city_id', user.city_id )}}
            </div>
        
            <div class="form-group">
                <label for="postal_code">Code postale</label>
                <input type="text" class="form-control" id="postal_code" value = "{{ user.postal_code }}" name="postal_code" placeholder="Code postale...">
            </div>
            <div class="form-group">
                {{select.select(privileges, 'Privilége', 'privilege_id', user.privilege_id )}}
            </div>
            <input class="btn btn-primary" type="submit" value="Sauvegarder" /*>
        </form>
    </div>
{% endblock %}
