{% extends "template/layout.twig" %}
{% block content %}
    <div class="form-container" style="width: 50%;">
        <h2>Envoyer un courriel</h2>
        <span class="message-response">{{ response|raw }}</span>
        <span class="error">{{ errors|raw }}</span>
        <form action="{{ path }}email/sendToClient" method="post">
            <input type="hidden" name="emailto" value="{{ client.email }}">
            <div class="form-group">
                <label for="subject">Objet</label>
                <input type="text" class="form-control" id="subject" name="subject" value="{{email.subject}}">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" {{email.message}} ></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Envoyer" /*>
        </form>
    </div>
{% endblock %}