  {% import "components/head.twig" as head %}
  {% import "components/aside.twig" as aside %}
  {% import "components/nav.twig" as nav %}
  {% import "components/footer.twig" as footer %}

<!DOCTYPE html>
<html lang="en">

{{head.head('welcome')}}
<body>
    <header>
        <a href="{{path}}/">
            <div class="logo">
                <picture>
                    <img src="" alt="logo">
                </picture>
                <span>Time-Manager</span>
            </div>
        </a>
        {{nav.nav(session)}}
    </header>
    <div class="container">

        {% if  session %}
            {{aside.aside(session)}}
        {% endif %}

        <main>
            {% block content %}

            {% endblock %}
        </main>
    </div>
    {{footer.footer()}}
</body>

</html>
